.collapse {
  max-width: 1600px;
  width: 70%;
  margin: 2% auto;
  user-select: none;
  //   @media screen and (min-width: 2400px) {
  //     width: 50%;
  //   }
  //   @media screen and (max-width: 500px) {
  //     margin: 4% 10%;
  //     width: auto;
  //   }

  &:last-of-type {
    margin-bottom: 5%;
  }

  .collapse-title {
    user-select: none;
    background: $color-GOLD;
    border-radius: 5px;
    height: 47px;
    @include verticalCenter;
    justify-content: space-between;
    padding: 1%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    h3 {
      // font-size: 24px;
      font-family: $font-1, serif;
      font-size: 1.2em;
      font-weight: 500;
      color: $color-WHITE;
      @media screen and (max-width: 800px) {
        font-size: 0.8em;
      }
    }
    img {
      width: 24px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .collapse-content {
    background: #f5f5f5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
    //font-size: 24px;
    font-size: 1em;
    font-weight: 400;
    padding: 3%;
    color: $color-BLACK;
    text-align: justify;
    @media screen and (max-width: 800px) {
      font-size: 0.8em;
    }
  }
}
