footer {
  margin-top: 5%;
  padding: 2% 5%;
  border-radius: 10px 10px 0 0;
  background: $color-GOLD;
  .flexList {
    display: flex;
    justify-content: space-between;
    h4 {
      padding-bottom: 4%;
    }
    li {
      padding: 2% 0;
      a {
        transition: 0.2s;
        &:hover {
          color: white;
        }
      }
    }
  }
  .disclaimer {
    font-size: 0.7em;
    margin-top: 2%;
    padding-top: 2%;
    border-top: 1px solid $color-WHITE;
    p:nth-child(2) {
      text-align: center;
      padding-top: 1%;
    }
  }
}
