// **************************************  Styles pour LE COMPOSANTS NAVIGATION / HEADER

header[role="banner"] {
  // padding-block: 2rem;
  padding-top: 2%;

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // padding-inline: 2rem;

    @media (max-width: 1000px) {
      // flex-direction: column;
      align-items: center;
      flex-direction: column-reverse;
      margin-top: 50px;
      //   min-height: 15vh;
    }
    nav {
      width: 30%;
      @media (max-width: 1000px) {
        width: 100%;
        .linkPage {
          justify-content: center;
          margin-bottom: 5%;
        }
      }
      .linkPage {
        @media (max-width: 1000px) {
          display: flex;
          justify-content: space-around;
          // background: red;
          margin: 5% 1%;
          padding: 5px;
          border: 1px solid $color-GOLD;
          border-radius: 10px;
        }
        li {
          p {
            font-weight: 400;
          }
        }
      }
    }

    .logo {
      // display: flex;
      position: relative;
      margin-top: 2.5em;
      z-index: -1;
      .logoLegalis {
        position: absolute;
        top: -80%;
        left: 50%;
        transform: translate(-50%);
        width: 85px;
        background: transparent;
        padding-right: 10px;
      }
      .brand {
        font-family: $font-1;
        position: relative;
        flex-shrink: 0;
        font-size: clamp(4rem, 6vw, 4rem);
        text-align: center;
        color: $color-GOLD;
        text-decoration: none;
        line-height: 0.9;
        animation: slideUpLogo 0.5s linear forwards;
        letter-spacing: 0.07em;
        padding-top: 100px;

        &::after {
          content: "";
          position: absolute;
          inset: -1%;
          background: $color-background;
          animation: slideUpLogo 1s 0.8s forwards;
        }

        span {
          display: block;
          font-size: 0.3em;
          letter-spacing: 0.36em;
          color: $color-GOLD;
          position: relative;
          transition: 0.2s;

          // **************************************  TRAIT ENTRE SPAN ET BEFORE
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: -10%;
            width: 100%;
            height: 0.1em;
            background-color: $color-GOLD;
            transition: opacity 0.2s;
          }
        }
      }
    }
    .headerRight {
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @media (max-width: 1000px) {
        margin-top: 5%;
        width: 100%;
        justify-content: center;
      }
      p {
        font-size: 0.8em;
      }
      .contact {
        margin: 0 0 0 4%;
        // margin-left: 4%;
        @media (max-width: 1000px) {
          margin-left: 0;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 50px;
          justify-content: space-between;
          background: white;
          z-index: 10;
          margin-left: 0;
          padding: 0 5px;
          border-bottom: 2px solid $color-GOLD;
          transition: 0.3s;
          p {
            font-size: 0.6em;
          }
        }
        li {
          transition: 0.3s;
          &:hover {
            transform: scale(1.2);
          }
          a {
            i {
              color: $color-GOLD;
              font-size: 1.5em;
            }
            // *******************************Animation rebondissement WhatsApp et téléphone sur mobile
            .fa-whatsapp {
              color: rgb(68, 235, 98);
              @media (max-width: 1000px) {
                animation: fa-bounce 1s infinite;
              }
            }
            .fa-phone {
              color: $color-GOLD;
              @media (max-width: 1000px) {
                animation: fa-shake 1s infinite;
              }
            }
            .fa-envelope {
              color: rgb(41, 170, 226);
            }
          }
        }
      }
    }
  }

  a:not(.brand) {
    // text-transform: uppercase;
    font-size: 1em;
    padding: 0 15px;
    transition: 0.2s;

    &:hover,
    &:focus {
      color: $color-GOLD;
      text-decoration: underline;
      text-decoration-thickness: 0.1em;
    }
  }

  ul {
    display: flex;
    gap: 1rem;
    @media (max-width: 1000px) {
      align-items: center;
    }
    @for $i from 1 through 4 {
      li:nth-child(#{$i}) a {
        opacity: 0;
        display: block;
        animation: slideDown 0.5s #{$i * 0.1s} linear forwards;
      }
    }
  }
  //   border-bottom: 3px solid $color-BLACK;
}

// **************************************  ANIMATIONS

@keyframes slideUpLogo {
  from {
    bottom: 0;
    transform: skewY(-5deg);
  }
  to {
    bottom: 100%;
    transform: skewY(0deg);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
