.conditionsGenerales {
  user-select: none;
  margin: 2% 0;

  h1 {
    background: $color-GOLD;
    padding: 2%;
    margin-bottom: 4%;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: $font-1, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 1000px) {
      font-size: 1em;
    }
    img {
      max-width: 50px;
    }
  }

  p {
    padding: 0 5%;
    font-size: 0.8em;
    text-align: justify;
  }
  p:nth-child(2) {
    margin: 5% 0;
  }
  a {
    &:hover {
      color: $color-GOLD;
    }
  }
  ul {
    padding: 2% 5%;
    li {
      padding: 5px;
    }
  }
}
