.sectionModifierEntreprise {
  user-select: none;
  margin: 2% 0 6% 0;
  text-align: justify;
  h1 {
    background: $color-GOLD;
    padding: 2%;
    margin-bottom: 4%;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: $font-1, serif;
    @media (max-width: 1000px) {
      font-size: 1em;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 70px;
    }
  }

  .intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
    margin: 0 10%;
    padding-bottom: 5%;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
    img {
      width: 150px;
      border-radius: 50%;
      border: 2px solid $color-GOLD;
      margin: 20px;

      animation: floater 2s infinite;
    }

    p {
      margin: 0 auto;
      text-align: justify;
    }
  }
  main:nthchild(0) {
    border-radius: 20px;
  }
  main {
    background: #aa895029;
    border-radius: 20px;
    margin: 0 10%;
    h2:first-of-type {
      border-radius: 20px 20px 0 0;
    }

    h2 {
      padding: 2% 5%;
      font-family: $font-1;
      background: $color-GOLD;
      width: 100%;
      @media (max-width: 1000px) {
        padding: 5% 0;
        text-align: center;
      }
    }
    p {
      padding: 2% 5%;
      //   padding: 0;
    }
    ol {
      padding: 0 10%;
      li {
        padding-bottom: 3%;

        @media (max-width: 1000px) {
          font-size: 0.7em;
        }
      }
    }
  }
}
