.tarifs {
  user-select: none;
  margin: 2% 0 6% 0;
  h1 {
    background: $color-GOLD;
    padding: 3%;
    margin-bottom: 4%;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: $font-1, serif;
    @media (max-width: 1000px) {
      font-size: 1em;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 50px;
    }
  }
  .tarifsIntro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 10%;
    @media (max-width: 1000px) {
      flex-direction: column;
    }
    img {
      width: 150px;
      border-radius: 50%;
      border: 2px solid $color-GOLD;
      margin: 20px;
      animation: floater 2s infinite;
    }

    p {
      margin: 0 auto;
      text-align: justify;
    }
  }
  .cardPrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #aa895029;
    border-radius: 20px;
    margin: 0 10%;
    padding: 0 0 5% 0;

    h2 {
      padding: 2% 2%;
      font-family: $font-1;
      background: $color-GOLD;

      @media (max-width: 1000px) {
        padding: 5% 0;
        text-align: center;
      }
    }
    li {
      display: flex;
      justify-content: space-between;
      padding: 2% 5%;
      .title {
        font-weight: bold;
      }
      .price {
        text-align: right;
        padding-right: 5px;
      }

      @media (max-width: 1000px) {
        font-size: 0.7em;
      }
    }

    .card {
      width: 100%;
    }

    .creationEntreprise {
      h2 {
        border-radius: 20px 20px 0 0;
      }
    }
    .modificationStatuts {
      h2 {
      }
    }
    .Dissolution-liquidation {
      h2 {
      }
    }
  }
}

@keyframes floater {
  0%,
  100% {
    -webkit-transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(8%);
  }
}
